.EntityReminder-table{
    margin-top: 30px;
    width: 100%;
    overflow-x: auto;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    /* margin: 20px; */
}
/* .EntityReminder{
    width: 100%;
    padding: 20px;
} */

.EntityReminder{
    width: 95%;
    padding: 20px;
    }
    
    @media screen and (min-width:490px) and (max-width:1000px) {
        .EntityReminder{
            width: 90%;
            padding: 20px;
            }
    }
    
    @media screen and (min-width:320px) and (max-width:489.99px) {
        .EntityReminder{
            width: 85%;
            padding: 20px;
            }
    }