.bill-wise-reciept-table {
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 400px;
    width: 100%;
    background-color: var(--glass);
}

.bill-wise-reciept-table-right-side {
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 400px;
    width: 100%;
    background-color: var(--glass);
}

.bill-wise-reciept-table-main {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
}

.bill-wise-reciept-table-main .bill-wise-reciept-table-first {
    width: 55%;
    padding-right: 10px;
}

.bill-wise-reciept-table-main .bill-wise-reciept-table-second {
    width: 45%;
}

.amount-calculator {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
    padding: 10px;
    border-radius: 10px;
    /* justify-content: space-around; */
}
@media screen  and (max-width:573px){
    .amount-calculator {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        padding: 10px;
        border-radius: 10px;
        justify-content: space-around;
    }
}

.total-inputs {
    display: grid;
    white-space: nowrap;
    padding: 0px 10px;
    align-items: center;
}

.total-inputs label {
    /* padding: 0px 10px; */
    font-weight: 500;
}

.total-inputs input {
    background-color: transparent;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 115px;
}

@media screen and (max-width: 1280px) {
    .bill-wise-reciept-table-main{
        flex-wrap: wrap;
    }

    /* .bill-wise-reciept-table-main .bill-wise-reciept-table-first {
        width: 100%;
    } */
    
    /* .bill-wise-reciept-table-main .bill-wise-reciept-table-second {
        width: fit-content;
        margin-top: 20px;
    } */
}

@media screen and (max-width: 1057.99px) {

    .bill-wise-reciept-table-main .bill-wise-reciept-table-first {
        width: 100%;
    } 
    .bill-wise-reciept-table-main .bill-wise-reciept-table-second {
        width: 100%;
    }
}

@media screen and (min-width: 1058px) and (max-width:1281px) {
    .bill-wise-reciept-table-main .bill-wise-reciept-table-first {
        width: 60% !important;
    } 
    .bill-wise-reciept-table-main .bill-wise-reciept-table-second {
        width: 35% !important;
    }

}

.total-inputsss{
    display: flex;
    gap: 10px;
    white-space: nowrap;
    padding: 0px 10px;
    align-items: center;
    margin-top: 17px;
    }