/* Main Container For User Creation */
.DriverCreation-main {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #000;
}


.DriverCreation-main .DriverCreation-form-container {
    overflow: scroll;
    height: 75vh;
    width: 81vw;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: var(--glass);
}

.DriverCreation-header {
    border-top: solid 1px #ccc;
    background: var(--glass);
    padding: 10px;
    margin-bottom: -10px;
}

.DriverCreation-main .DriverCreation-form-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    overflow-x: hidden;
}

.DriverCreation-main .DriverCreation-form-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.DriverCreation-main .DriverCreation-form-container::-webkit-scrollbar-thumb {
    background-color: rgb(217, 212, 212);
    outline: 1px solid slategrey;
}

.input-field {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-field .input {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.input-field .radio {
    font-size: 20px !important;
}

.checkbox {
    color: rgb(69, 62, 62);
    margin-top: 10px;
}

.css-1hbvpl3-MuiSvgIcon-root {
    height: 18px !important;
}

.css-ahj2mt-MuiTypography-root {
    font-size: 13px !important;
}

.input-field .input option {
    text-transform: uppercase;
}

.input-field .input .icone {
    padding: 15px 10px 0px;
    color: #6c6868;
}

.textboxlist-TripSheet .list-update::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    cursor: pointer;
    position: absolute;
}

.textboxlist-TripSheet .list-update::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textboxlist-TripSheet .list-update::-webkit-scrollbar-thumb {
    background-color: #457cdc;
    width: 50px;
    cursor: pointer;
    border-radius: 20px;
}

/* TABLE */
.DriverCreation-table-container {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: var(--glass);
}

.table-DriverCreations {
    background: var(--glass);
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 400px;
    width: 100%;
    overflow: hidden;
}