.buttons-div{
display: flex;
justify-content: flex-end;
gap: 10px;
margin-top: 20px;
}
.draw-route{
    /* style={{background:'#ccc',color:"white"}} */
    background-color: #034d8f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;

}

.Capture-View{
    /* style={{background:'#ccc',color:"white"}} */
    background-color: #9e002f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.search-input-field{
    /* margin-left: 10px;
    background-color: #9e002f; */
    padding-left: 20ypx;
}
.search-input{
    border: 2px solid black;
    /* border-radius: ; */
}

.aaaaaaaaaaaaaaaaaaaaaa{
    width: 250px !important;
}