.buttons-div{
display: flex;
justify-content: flex-end;
gap: 10px;
margin-top: 20px;
}
.draw-route{
    /* style={{background:'#ccc',color:"white"}} */
    background-color: #034d8f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;

}

.Capture-View{
    /* style={{background:'#ccc',color:"white"}} */
    background-color: #9e002f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.search-input-field{
    /* margin-left: 10px;
    background-color: #9e002f; */
    padding: 20px;
    width: 100%;
    /* height: 300px; */
}
.search-input{
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 30px;
    width: 59%;
    padding: 0px 10px;
}

/* .aaaaaaaaaaaaaaaaaaaaaa{
    width: 250px !important;
} */

.suggestion-box{
cursor: pointer;
background-color: #ffff;
padding: 10px;
height: 120px;
position: absolute;
width: 50%;
overflow-y: scroll;
z-index: 10;
box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px ;
}