.css-13xfq8m-MuiTabPanel-root {
  display: flex;
  padding: 0px !important;
}

.VehicleStatement-container-main {
  display: flex;
  width: 70%;
}

.form-container-TripStatus .Title-Name {
  font-size: 20px;
  font-weight: 500;
}

.form-container-TripStatus .VehicleStatement-form {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #000;
  background-color: var(--glass);
}

.form-container-TripStatus {
  display: flex;
  border-radius: 10px;
}

.form-container-TripStatus .container-main::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-x: hidden;
}

.table-bookingCopy-VehicleStatement {
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: var(--glass);
  margin-top: 30px;
}

.form-container-TripStatus .container-main::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

.form-container-TripStatus .container-main {
  border: 2px solid #ccc;
  overflow: scroll;
  height: 77vh;
  width: 81vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #000;
  background-color: var(--glass);
}

.VehicleStatement-form .Title-Name {
  position: relative;
}

.SearchContainer-VehicleStatement {
  width: 61vw;
  background-color: var(--glass);
  padding: 0px 20px;
  padding-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

@media screen and (min-width: 700px) and (max-width: 768px) {
  .SearchContainer-VehicleStatement {
    width: 82vw !important;
  }
}

@media screen and (min-width: 570px) and (max-width: 699.99px) {
  .SearchContainer-VehicleStatement {
    width: 80vw !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 569.99px) {
  .SearchContainer-VehicleStatement {
    width: 76vw !important;
  }
}

.VehicleStatement-form .Title-Name::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-radius: 20px;
  height: 3px;
  background-color: #457cdc;
}

@media screen and (min-width:970px) and (max-width:1240px) {
  .form-container-TripStatus .container-main {
    width: 76vw !important;
  }
}

@media screen and (min-width:769px) and (max-width:969.99px) {
  .form-container-TripStatus .container-main {
    width: 70vw !important;
  }
}

.vehiclestatement-inputfeild {
  flex-wrap: wrap;
}

@media screen and (max-width:1290px) {

  .vehiclestatement-inputfeild {
    justify-content: center;
  }
}

@media screen and (max-width:462px) {
  .show-btn-vehicle {
    flex-wrap: wrap;
  }

  .SearchContainer-VehicleStatement {
    border: none;
    background-color: transparent;
  }

  .VehicleStatement-container-main {
    width: 100% !important;
  }

  .SearchContainer-VehicleStatement {
    padding: 0px !important;
  }

  /* .vehiecle-date {
    width: 200px !important;
  } */
}

.paid-amount-input-field {
  justify-content: end;
}

.SpeedDial-division {
  padding: 26px;
  margin: 15px 10px 0px 0px;
}

.vehicle-statement-table{
  height: 400px;
  width: 100%;
}