.SelectedSales-main {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  color: #000;
}
.SelectedSales-table-container {
  /* margin-top: 10px; */
  /* border: 1px solid #ccc; */
  padding: 20px;
  /* background-color: var(--glass); */
}
.Download-btn-SelectedSales {
  padding: 0px 20px 20px 0px;
}
.table-SelectedSales {
  background: var(--glass);
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
