.mailDetails-form-container .Title-Name {
    font-size: 20px;
    padding-left: 20px;
    font-weight: 500;
}

.mailDetails-form-container {
    background: var(--glass);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #000;
    height: 67.5vh;
}

.mailDetails-header {
    margin: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: var(--glass);
    padding: 20px;
}

@media screen and (max-width: 560px) {
    .mailDetails-header {
        width: 65vw;
    }
}

@media screen and (max-width: 561px) {
    .mail-textarea1 {
        width: 100% !important;
    }

    .mail-textarea1-btn {
        position: relative;
        /* left: -25px; */
    }
}

@media screen and (max-width: 650px) {
    .textbox {
        width: 89vw !important;
        padding-left: 0px !important;
    }
}

@media screen and (min-width: 970px) and (max-width:1285px) {

    .textbox-mailer {
        width: 75vw !important;
        padding-left: 0px !important;
    }
}

@media screen and (min-width: 769px) and (max-width:969.99px) {

    .textbox-mailer {
        width: 65vw !important;
        padding-left: 0px !important;
    }
}

@media screen and (min-width: 650.99px) and (max-width:768.99px) {

    .textbox-mailer {
        width: 73vw !important;
        padding-left: 0px !important;
    }
}

.detail-container-main-mailDetails {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1160px) {
    .detail-container-main-mailDetails {
        flex-wrap: wrap;
    }
}

.mailDetails-form-container .mailDetails-form::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    overflow-x: hidden;
}

.mailDetails-form-container .mailDetails-form::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mailDetails-form-container .mailDetails-form::-webkit-scrollbar-thumb {
    background-color: rgb(217, 212, 212);
    outline: 1px solid slategrey;
}

.mailDetails-form-container .mailDetails-form {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    color: #000;
}

/* TextBox */
.textbox-mailDetails {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.textbox-mailDetails .textboxlist-mailDetails {
    width: 100%;
    padding: 20px 10px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: var(--glass);
    border-radius: 10px;
    border: 2px solid #ccc;
}

.mailDetails-list-update {
    margin-top: 10px;
    height: 190px;
}

.secend-container {
    border-top: solid 1px #ccc;
    background-color: var(--glass);
    padding: 20px 20px;
}

/* TRIPSHEET CONETNT */
.Tipsheet-content-table-main {
    background: var(--glass);
    padding: 40px;
}

.Tipsheet-content-table-main .Tipsheet-content-table {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 2px;
}

.table-bookingCopy-TransferReport {
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: var(--glass);
    margin: 0px 20px;
    width: 70%;
}

/* BOOKING SLIDER CONTENT*/
/* Customer-Booking-Slider */
.Customer-Booking-Slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* table-TripSheet */
.table-TripSheet {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 30px;
}

.template-search-btn {
    display: flex;
}

@media screen and (max-width: 410px) {
    .template-input {
        width: 200px !important;
    }

    .template-search-btn {
        flex-wrap: wrap;
        justify-content: center;
    }

    .textboxlist-mailer {
        height: 285px;
    }
}

.textbox.textboxlist-mailer {
    height: fit-content !important;
}

.input-mailer {
    width: 400px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (min-width:769px) and (max-width:820px) {
    .container-left-mailDetails {
        width: 500px;
    }
}

@media screen and (min-width:560px) and (max-width:630px) {
    .container-left-mailDetails {
        width: 550px;
    }
}

.table-bookingCopy-TransferDataEntry {
    margin-top: 10px;
}

@media screen and (min-width: 970px) {
    .table-bookingCopy-TransferDataEntry {
        width: 71vw;
    }
}

@media screen and (max-width: 969.99px) {
    .table-bookingCopy-TransferDataEntry {
        width: 94%;
    }
}

.mail-details-input-field {
    justify-content: center;
}

.mail-message-division {
    text-align: center;
    margin-top: 10px;
    color: green;
    font-weight: 600;
}

.mailer-search-input-field {
    justify-content: center;
    flex-wrap: wrap;
}

.mail-details-table {
    height: 400px;
    width: 100%;
}



/* .container-left-mailDetails{} */