.ServiceReminder-total {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}

.ServiceReminder-section {
    text-align: center;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.ServiceReminder-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    /* flex-wrap: wrap; */
}

@media screen and (min-width:460) and (max-width:662px) {
    .ServiceReminder-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .ServiceReminder-section {
        text-align: center;
        width: 400px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }
}
@media screen and  (max-width:459.99px) {
    .ServiceReminder-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .ServiceReminder-section {
        text-align: center;
        width: 320px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
    }
}