/* HEADER CONTAINER */
.Billing-page-header {
  border-top: solid 1px #ccc;
  background: var(--glass);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: -10px;
}

/*SECEND-CONTAINER  */
.Customer-page-secend-container {
  display: flex;
  border-top: solid 1px #ccc;
  background-color: var(--glass);
  padding: 20px;
  margin-top: 10px;
}

/* Button */

.Download-btn {
  padding: 20px 10px;
}

/* TABLE */
.customer-list-table-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: var(--glass);
}

.table-customer-list {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 400px;
  width: 100%;
  overflow: scroll;
}

.form-container .Title-Name {
  font-size: 20px;
  padding-left: 20px;
  font-weight: 500;
}

.form-container.form-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  color: #000;
}

.detail-container-main-customer {
  border-top: 1px solid #ccc;
  background-color: var(--glass);
  padding: 20px;
}

.form-container .Billing-form::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-x: hidden;
}

.form-container .Title-Name {
  position: relative;
}

.form-container .Title-Name::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 100%;
  border-radius: 20px;
  height: 3px;
  background-color: #457cdc;
  /* Adjust color as needed */
}

.form-container .Billing-form::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.form-container .Billing-form::-webkit-scrollbar-thumb {
  background-color: rgb(217, 212, 212);
  outline: 1px solid slategrey;
}

.form-container .Billing-form {
  border: 2px solid #ccc;
  overflow: scroll;
  height: 75vh;
  width: 81vw;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
  border-radius: 20px;
  color: #000;
  background-color: var(--glass);
}

.input-field {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-field .input {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.input-field .radio {
  font-size: 20px !important;
}

.checkbox {
  color: rgb(69, 62, 62);
  margin-top: 10px;
}

.css-1hbvpl3-MuiSvgIcon-root {
  height: 18px !important;
}

.css-ahj2mt-MuiTypography-root {
  font-size: 13px !important;
}

.input-field .input option {
  text-transform: uppercase;
}

.input-field .input .icone {
  padding: 10px 10px 0px;
}

.select-field {
  border: #000;
}

/* TextBox */
.textbox {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.textboxlist {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ccc;
  height: 250px;
}

.list-update {
  margin-top: 10px;
  overflow: scroll;
  height: 90%;
}

.textboxlist .list-update::-webkit-scrollbar {
  width: 5px;
  height: 0px;
  cursor: pointer;
  position: absolute;
}

.textboxlist .list-update::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textboxlist .list-update::-webkit-scrollbar-thumb {
  background-color: #457cdc;
  width: 50px;
  cursor: pointer;
  border-radius: 20px;
}

.Billing-secend-right {
  border: 2px solid #ccc;
  border-radius: 30px;
  padding: 0px 15px 0px 12px;
  margin-left: 13px;
}