.RightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 100px;
  padding-bottom: 25px;
}


@media only screen and (min-width:769px) and (max-width:888px) {


  .RightSide {
    display: flex;
    /* flex-direction: row; */
    width: max-content;
    gap: 20px;
    justify-content: space-around;
    margin-top: 60px;
    position: relative;
    left: 20px;
  }
}

@media only screen and (min-width:888.99px) and (max-width:971px) {
  .RightSide {
    display: flex;
    /* flex-direction: row; */
    width: max-content;
    gap: 20px;
    justify-content: space-around;
    margin-top: 60px;
    position: relative;
    left: 0px;
  }
}

@media screen and (min-width: 769px) and (max-width: 971px) {
  .RightSide {
    width: 100%;
  }
}

@media only screen and (min-width:971.99px) and (max-width:1060px) {
  .RightSide {
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 20px;
    justify-content: space-around;
    margin-top: 0px;
    position: relative;
    left: 40px;
  }
}

@media only screen and (min-width:1060.99px) and (max-width:1219px) {
  .RightSide {
    display: flex;
    flex-direction: row;
    /* width: max-content; */
    gap: 20px;
    justify-content: space-around;
    margin-top: 0px;
    position: relative;
    left: 10px;
  }
}

.RightSide h3 {
  letter-spacing: .5px;
  font-size: 20px;
  color: #000;
}


@media screen and (min-width:427px) and (max-width: 768px) {
  .RightSide {
    width: 100%;
    margin-top: 40px;
    position: relative;
    left: 30px;
  }
}

@media screen and (min-width:320px) and (max-width: 426.99px) {
  .RightSide {
    width: 100%;
    margin-top: 40px;
    position: relative;
    left: 10px;
  }
}

.area-chart-text {
  margin-bottom: 10px;
  padding: 1rem;
}

.area-chart {
  margin-top: 5px;
}

@media screen and (min-width:769px) and (max-width: 1219px) {
  .RightSide {
    align-items: center !important;
    padding-bottom: 85px;
  }
}

@media screen and (max-width:768px) {
  .RightSide {
    padding-bottom: 140px;
  }
}