.gst-report-table {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 400px;
  width: 100%;
  background-color: var(--glass);
  margin-top: 15px;
}

.gst-report-input-field{
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .gst-report-input-field{
    justify-content: center;
  }
}