.order-conatiner {
    display: flex;
    height: 100vh;
    /* margin-top: 10px; */
    flex-direction: column;
    grid-gap: 1rem;
    gap: 1rem;
    align-items: center;
}

.menu-bar {
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(116, 112, 112, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
  margin: 50px 0 0 0;
  
}
.menu-link {
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: 0.4s;
      border-radius: 25px;
    }
    &:hover {
      &::before {
        background: linear-gradient(to bottom, #eaebeb89, #d2d1d36e);
        box-shadow: 0px 3px 10px 0px rgb(109, 107, 107);
        transform: scale(1.2);
      }
      color: black;
    }
  }
