/* .top-div {
    
} */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* margin-top: 7px; */
  }
  .loading-spinners{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo-loading img {
    width: 100px;
  }
  
  .logo-loading {
    height: 80px;
    width: 80px;
    animation: pulse 1s infinite;
  }

  .signature-generate-input {
    margin-bottom: 15px; /* Adds spacing between input fields */
  }
  
  .input-with-button {
    display: flex; 
    align-items: center; 
    /* gap: 5px;  */
  }
  
  .input-with-button input {
    width: 270px; 
    padding: 5px; 
  }
  
  .input-with-button .MuiButton-root {
    margin-left: 10px;
  }
  
  
  @keyframes pulse {
  
    0%,
    100% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.3);
    }
  }
  
.signature-generate-main {
    padding-bottom: 20px;
    width: 715px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

@media screen and (max-width: 745px) {
    .signature-generate-main {
        width: 100%;
    }
}

.signature-generate-main .signature-generate-input {
    width: 350px;
}

.signature-generate-main .signature-generate-input input {
    color: rgb(15, 15, 58);
    padding: 5px;
    width: -webkit-fill-available;
    padding: 6px;
}

.Accept-btn {
    margin-top: 15px;
    width: 350px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: large;
    font-weight: 500;
    background-color: rgb(24, 24, 153);
    color: white;
}

@media screen and (max-width: 410px) {
    .signature-generate-main .signature-generate-input, .Accept-btn {
        width: 290px;
    }
}


/* 
input {
    color: rgb(15, 15, 58);
    padding: 5px;
    width: 100%;
    padding: 6px;
} */

p {
    margin-bottom: 0px;
}


