.css-13xfq8m-MuiTabPanel-root {
  display: flex;
  padding: 0px !important;
}

.detail-container-main {
  display: flex;
  width: 70%;
}

.form-container-Mailer .Title-Name {
  font-size: 20px;
  font-weight: 500;
}

.form-container-Mailer .smsreport-form {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #000;
  background-color: var(--glass);
}

.form-container-Mailer {
  display: flex;
  border-radius: 10px;
}

.form-container-Mailer .container-main::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-x: hidden;
}

.table-bookingCopy-SMSReport {
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: var(--glass);
  margin-top: 30px;
}

.form-container-Mailer .container-main::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

.form-container-Mailer .container-main {
  border: 2px solid #ccc;
  overflow: scroll;
  height: 71vh;
  width: 81vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #000;
  background-color: var(--glass);
}

@media screen and (max-width: 768px) {
  .form-container-Mailer .container-main {
    width: 93vw;
  }
}

@media screen and (min-width:970px) and (max-width:1240px) {
  .form-container-Mailer .container-main {
    width: 76vw !important;
  }
}

@media screen and (min-width:769px) and (max-width:969.99px) {
  .form-container-Mailer .container-main {
    width: 70vw !important;
  }
}

.smsreport-form .Title-Name {
  position: relative;
}

.copy-title-btn-SMSReport {
  width: 100%;
  margin-top: 30px;
  background-color: var(--glass);
  padding: 20px 20px;
  border: 2px solid #ccc;
  border-radius: 15px;
}

.smsreport-form .Title-Name::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  border-radius: 20px;
  height: 3px;
  background-color: #457cdc;
}

.sms-report-inputfeild {
  flex-wrap: wrap;
}

@media screen and (max-width: 1076px) {
  .sms-report-inputfeild {
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media screen and (min-width: 430px) and (max-width:700px) {
  .copy-title-btn-SMSReport {
    width: 86%;
  }

}

@media screen and (min-width: 381px) and (max-width:429.99px) {
  .copy-title-btn-SMSReport {
    width: 76%;

  }

}

@media screen and (max-width:380.99px) {
  .copy-title-btn-SMSReport {
    background-color: transparent;
    border: none;
  }
}

.sms-report-table {
  height: 400px;
  width: 100%;
}