.vehicle-inputs {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:650px) {
    .inputs-width {
        width: 100% !important;
    }
    .buttons-width {
        width: 100% !important;
    }
}
.inputs-width {
    width: 70%;
}

.buttons-width {
    width: 20%;
}

.white-text {
    color: #fff;
}

.vehicle-nearest-address {
    color: rgb(85, 85, 85);
    font-weight: 600;
}

.not-on-job-vehicle-info {
    color: #0078d4;
    font-weight: 700;
}

.Search-Location {
    margin: 0px;
}

.white-text {
    font-size: 15px;
}

.vehicle-indiduals-cards {
    display: flex;
    justify-content: space-between;
}

.vehicle-indiduals-cards-width {
    width: 100%;
}

.call-share-message {
    display: flex;
    gap: 20px;
}

.between {
    justify-content: space-between;
}

.location-input {
    width: 50px;
    height: 50px;
}

.location-button-border {
    border: 1px solid #1976d2;
}

.vehicle-details {
    height: fit-content;
    overflow-y: auto;
  }
  
  .vehicle-details::-webkit-scrollbar {
    width: 12px;
  }

  @media screen and (min-width:1000px) and (max-width:1176px) {
    .vehicle-inputs {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        align-items: center;
        /* flex-wrap: wrap; */
    }
    .inputs-width {
        width: 100% !important;
    }
    .buttons-width {
        width: 100% !important;
    }
  }

  