.vehicle-inputs {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:650px) {
    .inputs-width {
        width: 100% !important;
    }
    .buttons-width {
        width: 100% !important;
    }
}
.inputs-width {
    width: 50%;
}

.buttons-width {
    width: 60%;
}

.white-text {
    color: #fff;
}

.vehicle-nearest-address {
    color: rgb(85, 85, 85);
    font-weight: 600;
}

.not-on-job-vehicle-info {
    color: #0078d4;
    font-weight: 700;
}

.Search-Location {
    margin: 0px;
}

.white-text {
    font-size: 15px;
}

.vehicle-indiduals-cards {
    display: flex;
    justify-content: space-between;
}

.vehicle-indiduals-cards-width {
    width: 100%;
}

.call-share-message {
    display: flex;
    gap: 20px;
}

.between {
    justify-content: space-between;
}

.location-input {
    width: 50px;
    height: 50px;
}

.location-button-border {
    border: 1px solid #1976d2;
}

.vehicle-details {
    height: fit-content;
    overflow-y: auto;
  }
  
  .vehicle-details::-webkit-scrollbar {
    width: 12px;
  }

  @media screen and (min-width:1000px) and (max-width:1176px) {
    .vehicle-inputs {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        align-items: center;
        /* flex-wrap: wrap; */
    }
    .inputs-width {
        width: 100% !important;
    }
    .buttons-width {
        width: 100% !important;
    }
  }

  
  



.vehicle-info-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* overflow: hidden; */
}
@media screen and (max-width:1000px) {
    .vehicle-info-content-info {
        width: 100% !important;
    }

    .vehicle-info-content-map {
        width: 100% !important;
    }
}

.vehicle-info-content-info {
    width: 100%;
}

.overview-left {
    font-weight: 600;
    font-size: 18px;
}

.overview-content-head {
    border: 1px solid #ccc;
    /* padding: 20px; */
    /* overflow: scroll; */
}

.overview-content {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.overview-content-dropdown{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}

.overview-content-border {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border-bottom: 1px solid  gray;
}

.directions-vehicle-info {
    padding: 10px;
}

.Getdirection {
    display: flex;
    justify-content: flex-end;
}

.Getdirection-btn {
    border: 1px solid gray;
    padding: 10px 20px;
    color: #fff;
    background-color: gray;
    border-radius: 8px;
}

.direction-content {
    display: flex;
    justify-content: space-between;
}

.direction-box {
    display: flex;
    gap: 5px;
    align-items: center;
}

.direction-apply-btn {
    color: gray;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px 20px;
    height: 40px;
}

.warning-no-petrol {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
}







