.vehicle-inputs{
display: flex;
gap: 20px;
justify-content: space-between;
align-items: center;
} 
.inputs-width{
    width: 70%;
}

.buttons-width{
    width: 20%;
}
.white-text{
color: #fff;
}

.vehicle-nearest-address{
color:rgb(85, 85, 85) ;
font-weight: 600;
}
.not-on-job-vehicle-info{
color: #0078d4;
font-weight: 700;
} 

.Search-Location{
    margin: 0px;
}

.white-text{
    font-size: 20px;
}