

.top-cards{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
padding: 10px;

}
.top-cards-hidden{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 10px;
}
.table-top-buttons{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}

.main-content-overview {
  
  zoom: 90%;
}

@media screen and (min-width: 1300px) and (max-width: 1424.99px) {
  .main-content-overview {
    zoom: 82%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299.99px) {
  .main-content-overview {
    zoom: 77%;
  }
}

.table-top-buttons{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {

  .table-top-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .trip-status-table-container{
    /* border: 1px solid black; */
    width: 100%;
    /* padding: 10px; */
    margin: auto;
  }

  .overview-drawer{
    overflow-x: hidden;
  }

}