.User_Password_main .btns {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.list-box .list-para {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  height: 300px;
  overflow: scroll;
}
.list-box .list-para::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  overflow-x: hidden;
}

.list-box .list-para::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  overflow-x: hidden;
}

.list-box .list-para::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.list-box .list-para::-webkit-scrollbar-thumb {
  background-color: rgb(217, 212, 212);
  outline: 1px solid slategrey;
}
