.User_Password_main{
  padding: 20px;
  background-color: var(--glass);

}
.User_Password_main .btns {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.list-box .list-para {
  height: 53vh;
  padding: 10px;
  border-radius: 5px;
  overflow: scroll;
}
.list-box .list-para::-webkit-scrollbar {
  width: 5px;
  height: 0px;
  cursor: pointer;
  position: absolute;
}
.list-box .list-para::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.list-box .list-para::-webkit-scrollbar-thumb {
  background-color: #457cdc;
  width: 50px;
  cursor: pointer;
  border-radius: 20px;
}
