.ContactRenewalReminder-table {
    margin-top: 30px;
    width: 100%;
    overflow-x: auto;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
}

.ContactRenewalReminder {
    width: 95%;
    padding: 20px;
}


@media screen and (min-width:490px) and (max-width:1000px) {
    .ContactRenewalReminder {
        width: 90%;
        padding: 20px;
    }
}

@media screen and (min-width:320px) and (max-width:489.99px) {
    .ContactRenewalReminder {
        width: 85%;
        padding: 20px;
    }
}