.themes {
    width: 100vw;
    height: 100vh;
    transition: background-image 0.5s;
  }
  .dash-board {
    color: var(--black);
    /* background: linear-gradient(106.37deg,#aeb3ca 29.63%,#b69ad6 51.55%,#a3e792 90.85%); */
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    background-image: url("https://images.pexels.com/photos/4039921/pexels-photo-4039921.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .theme1 {
    color: var(--black);
    /* background: linear-gradient(106.37deg,#aeb3ca 29.63%,#b69ad6 51.55%,#a3e792 90.85%); */
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    background-image: url("https://images.pexels.com/photos/4039921/pexels-photo-4039921.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .theme2 {
    color: var(--black);
    /* background: linear-gradient(106.37deg,#aeb3ca 29.63%,#b69ad6 51.55%,#a3e792 90.85%); */
    background-repeat: no-repeat, repeat;
    background-size: 100%;
    background-image: url('https://images.pexels.com/photos/5791347/pexels-photo-5791347.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Define more theme-related styles */
  