
.css-jpln7h-MuiTabs-scroller{
    overflow: auto !important;
}

.head-tab-ratetype{
    position: sticky;
    top: -28px;
    z-index: 5;
    background-color: #f0ece2;
    padding: 10px 10px 0px 10px;

}