.vehicle-main {
    display: flex;
}

/* .vehicle-top-section-left {
    width: 37%;
} */

.vehicle-top-section-left span {
    font-size: 25px;
    font-weight: 600;
}

.vehicle-top-section-right {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 10px 20px;
    flex-wrap: wrap;
}

/* .vehicle-tab-main {
    padding-top: 20px;
    display: flex;
} */

.vehicle-tab-left-main {
    width: 23%;
}

.vehicle-tab-right-main {
    width: 75%;
    padding: 20px;
    height: 80vh;
    overflow: auto;
}

/* .vehicle-details-section-main {
    height: 80vh;
    overflow: auto;
} */

/* .vehicle-details-box {
    display: grid;
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--glass);
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
} */

/* .vehicle-details-box-veh-no {
    font-weight: 600;
} */

.vehicle-tab-right-top-division-main {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--glass);
}

/* .vehicle-tab-right-top-division-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.vehicle-tab-right-top-division-btn-section {
    display: flex;
    gap: 0px 15px;
}

/* .vehicle-tab-right-top-division-btn-section-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0px 15px;
    margin-top: 20px;
} */

.vehicle-stats-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--glass);
}

.vehicle-stats-box {
    width: 325px;
    display: grid;
    text-align: center;
}

.vehicle-stats-box-border {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}

.vehicle-stats-box-content {
    display: grid;
    padding: 20px 0px;
}

.vehicle-stats-box-content-border-bottom {
    border-bottom: 1px solid #ccc;
}

.vehicle-stats-box-content-heading {
    font-size: 25px;
    font-weight: 600;
}

.vehicle-stats-distance-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* .vehicle-stats-distance-box-left {
    width: 21%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    text-align: center;
    background-color: var(--glass);
}

.vehicle-stats-distance-box-right {
    width: 70%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--glass);
} */

.vehicle-stats-graph-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* .vehicle-stats-graph-left {
    width: 61%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--glass);
}

.vehicle-stats-graph-right {
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 15px;
    text-align: center;
    background-color: var(--glass);
} */

.vehicle-stats-fuel-cost-main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* .vehicle-stats-fuel-cost-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 325px;
    display: grid;
    text-align: center;
    background-color: var(--glass);
} */

.edit-driver-details-div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.edit-driver-heading{
    width: 200px;
    display: block;
    font-weight: 600;
}

.vehicle-details-box svg{
    font-size: 20px;
}

.vehicles-filter-division{
    margin-bottom: 20px;
}

/* .form-container .Title-Name {
    font-size: 18px;
    padding-left: 0px;
    font-weight: 400;
    color: #457cdc;
} */

/* .Title-Name{
    color: #457cdc;
    font-size: 18px;
} */

.vehicle-main-content-form{
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
    color: #000;
    zoom: 90%;
}






.main-content-vehicle::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    overflow-x: hidden;
  }
  
  .main-content-vehicle::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .main-content-vehicle::-webkit-scrollbar-thumb {
    background-color: rgb(217, 212, 212);
    outline: 1px solid slategrey;
  }
  
  .main-content-vehicle {
    border: 2px solid #ccc;
    overflow: scroll;
    height: 80vh;
    width: 81vw;
    margin: 0px 3px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #000;
    background-color: var(--glass);
    transition: all 0.3s ease;
  }
  
  @media screen and (min-width: 769px) and (max-width:1499px) {
    .side-bar-menu-close .main-content-vehicle {
      width: 92vw;
      /* margin: 0px 4px; */
    }
  }
  
  @media screen and (min-width: 1499px) {
    .side-bar-menu-close .main-content-vehicle {
      width: 98% !important;
      /* margin: 0px 4px; */
    }
  
    .main-content-vehicle {
      border: 2px solid #ccc;
      overflow: scroll;
      height: 80vh;
      width: 98% !important;
      margin: 0px 3px;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      color: #000;
      background-color: var(--glass);
      transition: all 0.3s ease;
    }
  }
  
  @media screen and (max-width: 768px) {
    .main-content-vehicle {
      width: 96vw;
      margin-top: 20px;
      height: 78vh;
    }
  
    .Android .main-content-vehicle {
      margin-top: -35px;
    }
  
    .iPhone-responsive .main-content-vehicle {
      height: 86vh;
    }
  }
  
  @media screen and (min-width:970px) and (max-width:1240px) {
    .side-bar-menu-close .main-content-vehicle {
      width: 96%;
      margin: 0px 3px;
    }
  
    .main-content-vehicle {
      width: 81vw;
    }
  }
  
  @media screen and (min-width:769px) and (max-width:969.99px) {
    .side-bar-menu-close .main-content-vehicle {
      width: 90vw;
    }
  
    .main-content-vehicle {
      width: 79vw;
    }
  }

  
.main-content-vehicle-vehicle {
  zoom: 90%;
}

@media screen and (min-width: 1300px) and (max-width: 1424.99px) {
  .main-content-vehicle-vehicle {
    zoom: 82%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299.99px) {
  .main-content-vehicle-vehicle {
    zoom: 77%;
  }
}
