.HistoryDrawer-head {
    padding: 0px 10px 10px 10px;
}

.history-topic {
    font-size: 25px;
    font-weight: 600;
}

.HistoryDrawer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 5px 5px 5px;
}

.history-heading {
    /* display: flex; */
    /* display: none; */
    visibility: hidden;
    align-items: center;
    gap: 5px;
}

.history-head-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.history-drawer-report-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
    background-color: #0078d4;
    border-radius: 10px;
    border: 1px solid #0078d4;
    color: #fff;
    height: 40px;
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

.history-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px 5px 5px 5px;
    align-items: center;
}

.history-tabs-row {
    display: flex;
    flex-wrap: wrap;
}

.tab-btn-buttons {
    display: flex;
    gap: 4px;
    padding: 10px 20px;
    align-items: center;
    color: #000000;
    border: 1px solid #ccc;
    background-color: #fff;
}

.history-btn-tab {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: initial;
}

.history-btn-tab-left {
    width: 48%;
}

.history-btn-tab-left-content {
    border: 1px solid #ccc;
    padding: 20px;
}

.account-summary-division {
    display: flex;
    justify-content: space-around;
}

.account-summary-division-content {
    display: flex;
    gap: 2px;
}

.history-tab-para {
    margin: 0px;
}

.fuel-summary-div {
    border: 1px solid #ccc;
    padding: 20px;
}

.no-fuel-warning {
    display: flex;
    justify-content: center;
}

.history-table-section {
    padding: 20px;
}

.timeline {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

.stoppages-border {
    border: 1px solid #ccc;
    padding: 10px;

}

.stoppages-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.stoppages-para {
    margin-top: 0px;
}

.stoppages-top-head {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.stoppages-edit {
    display: flex;
    gap: 3px;
    align-items: center;
}

.stoppages-ischecked {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-stop-warning {
    color: red;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
}

.stoppages-notchecked {
    padding: 10px;
}

.speeed-violation {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: baseline;
}

.speeed-violation-content {
    display: flex;
    gap: 20px;
}

.tripsites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tripsites-para {
    margin-top: 0px;
    width: 100px;
}

.history-present,
.history-present,
.timeline-present,
.stoppages-present,
.speedviolation-present,
.history-present {
    color: #ffffff;
    background-color: #0078d4;

}

.history-present,
.history-present,
.timeline-present,
.stoppages-present,
.speedviolation-present,
.history-present:hover {
    color: #ffffff !important;
    background-color: #0078d4;

}

.tab-btn-buttons:hover {
    color: #0078d4;
}

.account-summary-para {
    font-size: 20px;
    font-weight: 600;
}

.ac-sum-txt {
    font-size: 30px;
    font-weight: 600;
}

.sub-txt {
    margin-top: 20px;
}

.history-table-section-topic {
    font-size: 25px;
    font-weight: 600;
    margin-top: 3px;

}

.pad-0 {
    padding: 0px 20px 20px 20px !important;
}

.speed-violation {}

@media screen and (max-width:900px) {

    .history-btn-tab-left {
        width: 100%;
    }
}

.table-div-width {
    /* width: 70% !important; */
width: 100%;
    /* overflow-x: auto; */
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 10px;

}

.content-graph{
    display: flex;
    gap: 10px;
}

.left-top{
    display: flex;
    justify-content: space-between;
}

.last-datetime{
    display: flex;
    justify-content: end;
}

.left-content{
    width: 40%;
    padding: 10px;
}

.right-graph{
    width: 100%;
}
.speesviolation-para{
    margin-top: 0px;
}

.speedviolation-cons{
    border-top: 1px solid #ccc;
    padding: 10px;
}
.speesviolation-show-add{
    color: #0078d4;
}

.height-left{
    height: 300px;
    overflow-y: auto;
}

@media screen and (max-width: 999.99px){
    .left-content{
    width: 100% !important;
    padding: 10px;
}

.content-graph{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

}

@media screen and (max-width : 969px){
    .history-heading{
        display: none;
    }}




    


.main-content-history::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    overflow-x: hidden;
  }
  
  .main-content-history::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .main-content-history::-webkit-scrollbar-thumb {
    background-color: rgb(217, 212, 212);
    outline: 1px solid slategrey;
  }
  
  .main-content-history {
    border: 2px solid #ccc;
    overflow: scroll;
    height: 80vh;
    width: 81vw;
    margin: 0px 3px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #000;
    background-color: var(--glass);
    transition: all 0.3s ease;
  }
  
  @media screen and (min-width: 769px) and (max-width:1499px) {
    .side-bar-menu-close .main-content-history {
      width: 92vw;
      /* margin: 0px 4px; */
    }
  }
  
  @media screen and (min-width: 1499px) {
    .side-bar-menu-close .main-content-history {
      width: 98% !important;
      /* margin: 0px 4px; */
    }
  
    .main-content-history {
      border: 2px solid #ccc;
      overflow: scroll;
      height: 80vh;
      width: 98% !important;
      margin: 0px 3px;
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      color: #000;
      background-color: var(--glass);
      transition: all 0.3s ease;
    }
  }
  
  @media screen and (max-width: 768px) {
    .main-content-history {
      width: 96vw;
      margin-top: 20px;
      height: 78vh;
    }
  
    .Android .main-content-history {
      margin-top: -35px;
    }
  
    .iPhone-responsive .main-content-history {
      height: 86vh;
    }
  }
  
  @media screen and (min-width:970px) and (max-width:1240px) {
    .side-bar-menu-close .main-content-history {
      width: 96%;
      margin: 0px 3px;
    }
  
    .main-content-history {
      width: 81vw;
    }
  }
  
  @media screen and (min-width:769px) and (max-width:969.99px) {
    .side-bar-menu-close .main-content-history {
      width: 90vw;
    }
  
    .main-content-history {
      width: 79vw;
    }
  }