.gst-report-table {
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 400px;
  width: 100%;
  background-color: var(--glass);
  margin-top: 15px;
}

.gst-report-input-field {
  flex-wrap: wrap;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .gst-report-input-field {
    justify-content: center;
  }
}

.gst-report-table-input-field {
  overflow-x: auto;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.gst-report-table-input-field .css-1tl47u6 {
  width: 180px;
}