/* .form-container .Title-Name {
  font-size: 20px;
  padding-left: 20px;
  font-weight: 500;
} */

.form-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  color: #000;
}

.Tripsheet-header {
  border-top: solid 1px #ccc;
  /* background: var(--glass); */
  padding: 0px;
  margin-bottom: -10px;
  zoom: 90%;
}

.detail-container-main-Tripsheet {
  border-top: 1px solid #ccc;
  display: flex;
  background-color: var(--glass);
  padding: 20px 30px;
  margin-top: 10px;
}

/* .form-container .Tripsheet-form::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-x: hidden;
} */

/* .form-container .Title-Name {
  position: relative;
} */

/* .form-container .Title-Name::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: 100%;
  border-radius: 20px;
  height: 3px;
  background-color: #457cdc;
} */

/* .form-container .Tripsheet-form::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.form-container .Tripsheet-form::-webkit-scrollbar-thumb {
  background-color: rgb(217, 212, 212);
  outline: 1px solid slategrey;
} */

@media screen and (max-width: 768px) {
  .form-container-tripsheet {
    width: 97% !important;
  }
}

/* @media screen and (min-width: 769px) {
  .side-bar-menu-close .form-container-tripsheet .Tripsheet-form {
    width: 96vw;
  }
}

.form-container .Tripsheet-form {
  border: 2px solid #ccc;
  overflow: scroll;
  height: 80vh;
  width: 81vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #000;
  background-color: var(--glass);
} */

/* @media screen and (max-width: 768px) {
  .form-container .Tripsheet-form {
    width: 93vw;
  }
}

@media screen and (min-width: 1113px) and (max-width: 1267px) {
  .form-container .Tripsheet-form {
    width: 79vw;
  }
}

@media screen and (min-width: 957px) and (max-width: 1112.9px) {
  .form-container .Tripsheet-form {
    width: 76vw;
  }
}

@media screen and (min-width: 829px) and (max-width: 956.9px) {
  .form-container .Tripsheet-form {
    width: 73vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 828.9px) {
  .form-container .Tripsheet-form {
    width: 70vw;
  }
} */

.secend-container {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background-color: var(--glass);
  padding: 20px 20px;
}

/* TRIPSHEET CONETNT */
.Tipsheet-content-table-main {
  padding: 0px 7px;
  margin-top: 0px;
}

.Tipsheet-content-table-main .Tipsheet-content-table {
  border: 2px solid #ccc;
  border-radius: 17px;
  padding: 2px;
}

/* BOOKING SLIDER CONTENT*/
/* Customer-Booking-Slider */
.Customer-Booking-Slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* table-TripSheet */
.table-TripSheet {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 30px;
}

/* VENDOR INFO CONTENT */
/*Dialogbox image*/
.dialogboximg {
  width: 535px;
}

.mapview {
  width: 580px !important;
  height: 550px !important;
}

/* link button style */
.link-blank-button {
  display: flex;
  gap: 8px;
  align-items: center;
}

.signature {
  background-color: #1976d2;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #1976d2;
  cursor: pointer;
}

.customer-bill-input {
  width: 150px;
}

.tripsheet-heading {
  position: sticky;
  top: -27px;
  z-index: 5;
  background-color: #f0ece2;
  padding: 10px;
  margin: 0px;
}



/* .form-container .Title-Name {
  padding-left: 10px !important;
} */

.time input {
  margin-top: 0px;
  /* margin-bottom: 25px; */
  background: transparent;
  text-align: inherit;
  border: 1px solid #457cdc;
  padding: 9px 8px 9px 10px;
  border-radius: 4px;
  font-size: 17px;
  width: 91%;
  height: 23px;
}

.icone {
  padding: 10px 8px 0px 0px !important;
  color: #737271 !important;
}

/* .input {
  width: 244px !important;
  display: flex;
  align-items: center;
} */

.tripsheet-table1 {
  width: 700px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ccc;
  height: 250px;
  /* overflow: scroll; */
}

@media screen and (max-width: 667px) {
  .tripsheet-table1 {
    width: auto;
  }
}

.tripsheet-division1 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 1557px) {
  .tripsheet-division1,
  .tripsheet-division2,
  .tripsheet-division3 {
    width: 90%;
  }
}

.tripsheet-division1,
.tripsheet-division3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  /* border-bottom: 1px solid #ccc; */
  justify-content: left;
  padding: 5px 15px 0px 15px;
  /* width: 79vw; */
}

.tripsheet-division2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  /* border-bottom: 1px solid #ccc; */
  justify-content: center;
  /* padding: 30px 0px 30px 20px; */
  width: 79vw;
}

@media screen and (min-width: 1113px) and (max-width: 1266px) {

  .tripsheet-division1,
  .tripsheet-division2,
  .tripsheet-division3 {
    width: 97vw;
  }
}

@media screen and (min-width: 909px) and (max-width: 1112.99px) {

  .tripsheet-division1,
  .tripsheet-division2,
  .tripsheet-division3 {
    width: 97vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 910px) {

  .tripsheet-division1,
  .tripsheet-division2,
  .tripsheet-division3 {
    width: 93vw;
    justify-content: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 768.99px) {

  .tripsheet-division1,
  .tripsheet-division2,
  .tripsheet-division3 {
    width: 93vw;
    justify-content: center;
  }
}

@media screen and (min-width: 910px) and (max-width: 956px) {

  .tripsheet-division1,
  .tripsheet-division2,
  .tripsheet-division3 {
    width: 93vw;
  }
}

.tripsheet-address {
  width: 20vw;
}

@media screen and (max-width: 1060px) {
  .tripsheet-address {
    width: 40vw;
  }
}

.table-input-field {
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 673px) {
  .tripsheet-tab {
    width: 150vw;
  }
}

.address-field {
  width: 25vw;
}

@media screen and (min-width: 600px) and (max-width: 1146.99px) {
  .address-field {
    width: 40vw;
  }
}

@media screen and (max-width: 599.99px) {
  .address-field {
    width: 55vw;
  }
}

.remark-textfield {
  width: 400px !important;
}

@media screen and (max-width: 600px) {
  .remark-textfield {
    width: 400px !important;
  }
}

@media screen and (max-width:1080px) {

  .tripsheet-division1,
  .tripsheet-division2,
  .tripsheet-division3 {
    justify-content: center;
  }

  .vehicle-confirm-tripsheet {
    flex-wrap: wrap;
    position: relative;
    left: 15px;
    justify-content: center;
  }
}

.vehicle-confirm-tripsheet {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  background-color: var(--glass);
  margin-bottom: 15px;
  display: flex;
  /* align-items: center; */
  width: 100%;
}

.input-feild-vehicle-confirm {
  flex-wrap: wrap;
}

.input-type-grid {
  width: 100%;
  display: grid;
}

.tripsheet-booking-table {
  height: 400px;
  width: 100%;
}

.total-amount-textfield {
  margin-top: 25px;
  margin-left: 15px;
}

.tripsheet-cancel-button {
  background-color: red;
  color: white;
}

.full-width {
  width: 100%;
}

.tripsheet-table1 .table-heading-1 {
  border-top-left-radius: 10px;
}

.tripsheet-cancel-save-btn {
  padding: 20px;
}

.tripsheet-shed-in-time {
  display: grid;
  width: 100%;
}

.invalid-km {
  margin: 0;
  padding: 0;
  text-align: center;
  color: red;
  font-size: 15px;
  padding-bottom: 5px;
  margin-top: -23px;
}

.tripsheet-top-division {
  /* width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  gap: 10px;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 8px; */


  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 40px;
  font-size: 13px;
  margin: 8px 44px 0px 44px;
  overflow: auto;
  padding-bottom: 10px;
  height: 50px;
}

@media screen and (max-width: 667px) {
  .tripsheet-top-division {
    width: 80%;
  }
}

.tripsheet-top-division input {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  padding: 4px;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 11.5px 14px !important;
}

.tripsheet-Download-btn {
  margin-top: 20px;
}

.tripsheet-top-division-date input {
  border: none !important;
  padding: 8px 0px 6px 5px !important;
  width: 84px;
  font-size: 13px;
  border-radius: 0px;
}

.tripsheet-top-division-dropdown input {
  padding: 8px 0px 6px 5px !important;
}

.tripsheet-top-division-date .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  padding-top: 7px;
}

.tripsheet-top-division-date button {
  padding: 0px !important;
}

.tripsheet-top-division-date svg {
  height: 16px !important;
}

.tripsheet-top-division-date p {
  margin-bottom: -9px;
  font-size: 13px;
}

.tripsheet-top-division label {
  font-weight: 500;
}

.tripsheet-top-division-dropdown {
  width: 115px;
}

.tripsheet-top-division-dropdown input {
  border: none;
}

.tripsheet-remarks-division {
  width: 513px !important;
}

.tripsheet-calculate-input button,
.tripsheet-e-tripsheet-input button {
  width: 100%;
  margin-left: 28px;
}

.tripsheet-vendor-bill-main {
  display: grid;
  gap: 10px;
}

.tripsheet-vendor-info-main .input-field,
.tripsheet-vendor-bill-main .input-field,
.tripsheet-vendor-gps-att-main .input-field {
  flex-wrap: wrap;
}

@media screen and (max-width: 565.99px) {

  .tripsheet-vendor-info-main .input-field,
  .tripsheet-vendor-bill-main .input-field,
  .tripsheet-vendor-gps-att-main .input-field {
    justify-content: center;
  }

  .tripsheet-vendor-bill-amount-input-field {
    border: 2px solid #ccc;
    padding: 10px;
  }
}

@media screen and (max-width: 568.99px) {
  .tripsheet-vendor-bill-amount-input-field {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
  }
}

@media screen and (min-width: 569px) and (max-width: 867.99px) {
  .tripsheet-vendor-bill-amount-input-field .input {
    width: 124px !important;
  }
}

@media screen and (max-width: 568.99px) {
  .Customer-Customer-Bill-Slider-popup .input-field {
    display: grid;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 385.99px) {
  .Customer-Customer-Bill-Slider-popup .input-field .input {
    width: 180px !important;
  }
}

@media screen and (min-width: 569px) and (max-width: 640.99px) {

  .Customer-Customer-Bill-Slider-popup .input-field .input {
    width: 129px !important;
  }
}

@media screen and (min-width: 641px) and (max-width: 867.99px) {
  .Customer-Customer-Bill-Slider-popup .input-field .input {
    width: 184px !important;
  }
}

@media screen and (min-width: 992px) {
  .tripsheet-popup-vendor-bill-vendor-info-main .input-field .input {
    width: 190px !important;
  }

  .Customer-Customer-Bill-Slider-popup .input-field .input {
    width: 190px !important;
  }

  .tripsheet-vendor-info-main-popup .input-field .input {
    width: 165px !important;
  }

  .tripsheet-vendor-info-first-input-field .input {
    width: 200px !important;
  }
}

.Customer-Customer-Bill-Slider-popup .input-field {
  margin-bottom: 10px;
}

.tripsheet-calculate-popup-main {
  border: none !important;
  box-shadow: none !important;
  padding: 2px;
}

.llllll .MuiDialog-paperWidthSm {
  max-width: 1200px !important;
  width: 750px;
}

.tripsheet-top-division-status-main .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
  padding: 0px !important;
  font-size: 14px;
}

.icone-margin-adjust {
  margin-top: 20px;
}

.tripsheet-total-time-div input {
  padding-top: 15px;
}

.bill-section{
  /* width: 100%; */
  zoom: 70%;
}
.bill-topics{
  font-size: 20px;
  font-weight: 700;
}

.bill-section-second,
.bill-section-third{
  border-right: 1px solid #ccc;
  padding-right: 15px;
}
