.service-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-history-btns {
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px;
    zoom: 85%;
}

.service-total-history {
    display: block;
    width: 100%;
}