.CustomerReview {
    width: 85%;
    background: rgba(255, 255, 255, 0.957);
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.apexcharts-tooltip.apexcharts-theme-light {
    color: #000;
}

.apexcharts-menu.apexcharts-menu-open {
    color: #000;
}

.graph-all-button,
.graph-weekly-button,
.graph-yesterday-button {
    background-color: #0491fb;
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.graph-all-button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px dotted #fff;
    border-top: 2px solid #0491fb;
    border-left: 2px solid #0491fb;
    border-bottom: 2px solid #0491fb;
}

.graph-all-button:hover {
    transform: scale(1.1);
}

.graph-weekly-button {
    border: 2px solid #0491fb;
    border-right: 1px dotted #fff;

}

.graph-yesterday-button {
    border: 2px solid #0491fb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.graph-weekly-button:hover {
    transform: scale(1.1);
}

.graph-yesterday-button:hover {
    transform: scale(1.1);
}

@media only screen and (min-width:1219px) {
    .weekly-chart {
        width: 86% !important;
    }
}

@media only screen and (max-width:768px) {
    .weekly-chart {
        width: 82% !important;
    }
}

@media only screen and (min-width:855px) and (max-width:888px) {
    .weekly-chart {
        width: 360px;
    }
}

@media only screen and (min-width:888.99px) and (max-width:960px) {
    .weekly-chart {
        width: 385px;
    }
    .RightSide{
        flex-direction: column;
    }
}

@media only screen and (min-width:960.99px) and (max-width:1020px) {
    .weekly-chart {
        width: 260px;
    }
}

@media only screen and (min-width:1021px) and (max-width:1102.99px) {
    .weekly-chart {
        width: 320px;
    }
}

@media only screen and (min-width:1103px) and (max-width:1218px) {
    .weekly-chart {
        width: 350px;
    }
}


@media only screen and (min-width:769px) and (max-width: 800px) {
    .weekly-chart {
        width: 285px !important;
    }
}

@media screen and (min-width:801px) and (max-width: 855px) {
    .weekly-chart {
        width: 300px !important;
    }
}