.print {
  width: 100px;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.printdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 50px 0px 20px;
}

.Taxinvoicediv {
  padding: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.Taxinvoicetext {
  font-size: 22px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Refnotext {
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 900;
}

.invoice {
  margin-left: 5px;
}

.image {
  height: 100px;
  width: 110px;
}

.mobilediv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.organisationtext {
  font-size: 17px;
  margin: 0px;
}
.organisationtext-ref {
  font-size: 17px;
  margin: 0px;
  text-align: right;
}

.Datediv {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 80px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.Datetext {
  margin-left: 5px;
}

.tableheadtext {
  color: 'black';
  font-weight:500;
  padding: 10px;
  font-size: 13.5px;
}

tbody {
  min-height: 300px;
  height: auto;
}

.tdata {
  padding: 6.5px;
  border-right: 1px solid gray;

}

.tabledata-ref {
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid gray;
}

.table-ref,
.table-ref th {
  border: 1px solid gray;

}

.table-ref th {
  border: 1px solid gray !important;
  
}

.total-div{
  display: flex;
  justify-content: end;
  gap: 30px;
  /* margin-right: 40px; */
}
