.print {
  width: 100px;
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.printdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Taxinvoicediv {
  padding: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.Taxinvoicetext {
  font-size: 22px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.Refnotext {
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 900;
}

.invoice {
  margin-left: 5px;
}

.image {
  height: 100px;
  width: 110px;
}

.mobilediv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.organisationtext {
  font-size: 17px;
  margin: 0px;
}

.Datediv {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 80px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.Datetext {
  margin-left: 40px;
}

.tableheadtext {
  color: 'black';
  font-weight: 700;
  padding: 10px;
}

tbody {
  min-height: 300px;
  height: auto;
}

.tdata {
  padding: 10px;
}