.css-13xfq8m-MuiTabPanel-root {
  display: flex;
  padding: 0px !important;
}

.form-container .Title-Name {
  font-size: 20px;
  font-weight: 500;
}

.form-container {
  display: flex;
  border-radius: 10px;
}

.form-container .container-main::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  overflow-x: hidden;
}

.vehicale-form {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #000;
  background-color: var(--glass);
}

.vehicaleinfo-container {
  display: flex;
}

.list-update {
  overflow: scroll;
  height: 90%;
}

.list-update::-webkit-scrollbar {
  width: 5px;
  height: 0px;
  cursor: pointer;
  position: absolute;
}

.list-update::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textbox .list-update::-webkit-scrollbar-thumb {
  background-color: #457cdc;
  width: 50px;
  cursor: pointer;
  border-radius: 20px;
}

.form-container .container-main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.form-container .container-main::-webkit-scrollbar-thumb {
  background-color: rgb(217, 212, 212);
  outline: 1px solid slategrey;
}

.form-container .container-main {
  border: 2px solid #ccc;
  overflow: scroll;
  height: 71vh;
  width: 81vw;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #000;
  background-color: var(--glass);
}

@media screen and (max-width: 768px) {
  .form-container .container-main {
    width: 93vw;
  }
}

/* TextBox */
.textbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.textboxupdate .textbox-container {
  border-radius: 5px;
  overflow: scroll;
  color: #3d3b3b;
  padding: 5px;
  font-weight: 500;
  background-color: #fff;
  height: 200px;
  width: 300px;
}

.textbox-container .icon {
  position: fixed;
  bottom: 50px;
  right: 80px;
  border-radius: 50%;
  background-color: #f8f8f8;
  z-index: +9999;
}

.css-1c4hl6u {
  position: relative;
  margin-top: 0px !important;
  height: 0px !important;
}

/* Date */
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #456ddc !important;
}

.vehicaleinfo-container-left {
  width: 99%;
}

.vehicaleinfo-container-right {
  margin: 20px 0px;
  width: 100%;
}

.vehicaleinfo-update-main {
  border-radius: 10px;
  border: 2px solid #ccc;
}

.vehicaleinfo-update {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.vehicaleinfo-update table #update-header {
  background-color: #ccc !important;
  font-size: 13px;
  position: sticky;
  top: 0;
}

.vehicaleinfo-update table tbody #update-row {
  font-size: 13px;
}

.vehicaleinfo-update .list-update {
  overflow: scroll;
  height: 90%;
}

.vehicaleinfo-update .list-update::-webkit-scrollbar-thumb {
  background-color: #457cdc;
  width: 50px;
  cursor: pointer;
  border-radius: 20px;
}

.vehicleinfo-inputfeild {
  flex-wrap: wrap;
}

.vehicaleinfo-container-left {
  display: flex;
}

@media screen and (max-width:701px) {
  .copy-title-btn-Booking {
    width: 86% !important;
  }
}

@media screen and (min-width:320px) and (max-width:380px) {
  .copy-title-btn-Booking {
    border: none !important;
    background-color: transparent !important;
  }
}

@media screen and (max-width:1168px) {
  .vehicaleinfo-container-left {
    flex-wrap: wrap;
    justify-content: center;
  }

  .vehicleinfo-inputfeild {
    justify-content: center;
  }
}

.button-29 {
  align-items: center;
  background-image: radial-gradient(100% 100% at 100% 0, #7199ff 0, #1976d2 100%);
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  padding: 0px 16px;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  white-space: nowrap;
  font-size: 14px;
}

.button-29 span {
  padding-left: 10px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.table-head-booking {
  background-color: #76757d !important;
  color: #fff;
  font-size: larger;
}

.vehicle-info-table1 {
  height: 220px;
  overflow: scroll;
}

.vehicle-info-table-heading-first {
  border-top-left-radius: 10px;
}

.vehicle-info-table-heading-last {
  border-top-right-radius: 10px;
}

.vehicle-info-upload-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.vehicle-info-upload-btn-width {
  width: 100%;
}

.vehicle-info-search-input-field {
  flex-wrap: wrap;
  justify-content: center;
}

.vehicle-info-main-table {
  height: 400px;
  width: 100%;
}

.vehicle-info-dailog-box-div1 {
  position: relative;
}

.vehicle-info-dailog-box-btn {
  margin-bottom: 10px;
}

.vehicle-info-dailog-box-btn-division {
  border-bottom: 1px solid black;
}

.vehicle-info-dailog-box-delete-print-division {
  display: flex;
  padding: 10px;
  gap: 15px;
}