/* HEADER CONTAINER */
.TransferList-page-header {
    border-bottom: solid 1px #ccc;
    padding: 20px;
}

.css-13xfq8m-MuiTabPanel-root {
    display: flex;
    padding: 0px !important;
}

.detail-container-main {
    display: flex;
    padding: 20px;
}


.TransferList-form {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: var(--glass);
}


.table-bookingCopy-TransferList {
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: var(--glass);
    margin: 0px 20px;
}

.Download-btn {
    padding: 20px;
}

.copy-title-btn-TransferList {
    width: 100%;
    margin-top: 30px;
    background-color: var(--glass);
    padding: 10px 20px 35px;
    border: 2px solid #ccc;
    border-radius: 15px;
}

.TransferList-form .Title-Name::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    border-radius: 20px;
    height: 3px;
    background-color: #457cdc;
}

.input-field-transferlist {
    flex-wrap: wrap;
}

@media screen and (max-width:1164px) {
    .input-field-transferlist {
        justify-content: center !important;
    }
}

@media screen and (min-width:701px) and (max-width:930px) {
    .copy-title-btn-TransferList {
        width: 95%;
    }
}

@media screen and (min-width:380px) and (max-width:700.99px) {
    .copy-title-btn-TransferList {
        width: 75%;
    }
}


@media screen and (max-width:380px) {
    .copy-title-btn-TransferList {
        margin-top: 30px;
        background: none !important;
        padding: 10px 20px 35px;
        border: none !important;
        border-radius: 15px;
    }

    .detail-container-main {
        padding: 0px !important;
    }

    .container-left-transferlist {
        position: relative;
        left: 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .input-field.input-transferlist {
        width: 205px !important;
    }
}

.transfer-list-table {
    height: 400px;
    width: 100%;
}