.guest-sign #guestsign {
  margin-top: 25px;
  width: 95px;

}

.invoice-wrapper {
  border: 0;
  box-sizing: content-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  list-style: none;
  margin: 20;
  padding: 20;
  text-decoration: none;
  vertical-align: top;
}

.artical-top {
  margin-left: 20px;
}

.invoice-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image-invoice img {
  width: 130px;
  margin-left: 20px;
}

.invoice-address {
  width: 300px;
}

.invoice-address-detials {
  font-weight: 500;
}

.invoice-address .invoice-contact-details {
  font-weight: 600;
  font-size: 14px;
}

.invoice-contact-details{
margin: 0%;
}

/* heading */
.invoice-wrapper header {
  margin: 0 0 3em;
}

.invoice-wrapper h1 {
  font: bold 100% sans-serif;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.invoice-wrapper header h1 {
  background: black;
  border-radius: 0.25em;
  color: white;
  margin: 0 0 1em;
  padding: 0.5em 0;
}

.invoice-wrapper header address {
  float: left;
}

.dialogboximg {
  height: 100px;
  width: 100px;
}

.invoice-wrapper header span,
header img {
  display: block;
  float: right;
}


.invoice-wrapper header img {
  max-height: 50%;
  max-width: 50%;
}

.invoice-wrapper header:after {
  clear: both;
  content: "";
  display: table;
}

/* article */

.invoice-wrapper article h1 {
  clip: rect(0 0 0 0);
  position: absolute;
}

.invoice-wrapper article:after {
  clear: both;
  content: "";
  display: table;
}

/* table */
.main-invoice-container {
  border: 1px solid #000;
}

.first-table-invoice-container {
  display: flex;
}

.secondTable {
  display: flex;
  border-top: 1px solid #000;
}

.vehicale-details-table {
  width: 60%;
  border-right: 1px solid #000;
}

.vehicale-details-table #table-headers,
#table-datas {
  padding: 6px;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.guest-signature-details {
  display: flex;
  width: 40%;
  padding: 5px;
}

.guest-signature-details .instruction {
  width: 70%;
  position: relative;
}

.guest-signature-details .guest-sign {
  width: 45%;
  position: relative;
}

.guest-signature-details .guest-sign p {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.invoice-wrapper #table-invoice {
  font-size: 75%;
  table-layout: auto;
  width: 100%;
}

.invoice-wrapper #table-invoice {
  border-collapse: separate;
  border-spacing: 2px;
}

.invoice-wrapper #table-header,
#table-data {
  border-width: 1px;
  padding: 6px;
  position: relative;
  text-align: left;
}

.invoice-wrapper #table-header {
  background: #EEE;
  padding: 6px;
  border: none;
}

.invoice-wrapper #table-data {
  padding: 6px;
  border: none;
}

/* table firstTable */
.invoice-wrapper #table-invoice.firstleftTable {
  float: left;
  width: 45%;
  height: 50%;
}

.invoice-wrapper #table-invoice.firstTable {
  float: right;
  width: 45%;
  height: 50%;
}

.invoice-wrapper #table-invoice.firstbottomTable {
  float: right;
  width: 100%;
  height: 50%;
}

.invoice-wrapper #table-invoice.firstTable:after {
  clear: both;
  content: "";
  display: table;
}

/* table firstTable */

.invoice-wrapper #table-invoice.firstTable #table-header {
  width: 40%;
}

.invoice-wrapper #table-invoice.firstTable #table-data {
  width: 60%;
}

.total-values {
  display: flex;
}
.total-values-hcl {
  display: flex;
  /* margin-bottom: 50%; */
}

.total-values #Totals {
  margin: 10px;
}

.total-values #Totals #title {
  font-weight: bold;
}

.invoice-wrapper form {
  font: 16px/1 'Open Sans', sans-serif;
  overflow: auto;
  padding: 0.5in;
}

.invoice-wrapper form {
  background: #999;
  cursor: default;
}

.invoice-wrapper form {
  box-sizing: border-box;
  height: 11in;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.5in;
  width: 8.5in;
}

.invoice-wrapper form {
  background: #FFF;
  border-radius: 1px;
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
}

.invoice-wrapper aside h1#notes {
  border: none;
  border-width: 0 0 1px;
  margin: 0 0 1em;
}

.invoice-wrapper aside h1#notes {
  border-color: #999;
  border-bottom-style: solid;
  border-bottom-width: 10%;
  font: bold 100% sans-serif;
  letter-spacing: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.tripsheet-location-img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0%;
}

.tripsheet-location-img img {
  height: 230px;
  width: 100%;
}

.tripsheet-RouteSummary {
  /* margin-top: -30%; */
  position: relative;
  top:30%;
  width: 80%;
  font-size: 13px;
  margin: 0 auto 0 auto;
}
.tripsheet-RouteSummary-normal{
  position: relative;
  top:30%;
  width: 80%;
  font-size: 13px;
  margin: 30px auto 30px auto;

}

.tripsheet-RouteSummary p {
  font-weight: 600;
}

.tripsheet-RouteSummary ol {
  font-size: 12px;
  font-weight: 500;
}

.attached-toll {
  margin-top: 90px;
  /* margin-top: -10px; */
  /* margin-bottom: 60px; */
  /* margin-top: -40px; */
}

/* .attached-toll img {
  height: 350px;
  width: 100%;
  margin: 10px;
} */

.invoice-remarks-main {
  font-weight: 600;
  font-size: 75%;
  background-color: #E8EAE9;
}

.invoice-remarks-sub {
  font-size: 13px;
  padding: 10px;
}

.guest-sign-text{
  text-align: center;
}

@media print {
  .print-page {
    page-break-before: always; /* Force each item to start on a new page */
    margin: 0;
    padding: 0;
  }

  .pdf-page {
    width: 100%; /* Ensure PDF fits the page width */
    height: auto;
    margin: 0 auto;
    display: block;
    page-break-inside: avoid; /* Prevent page breaks inside PDF pages */
  }

  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }

  .print-image {
    width: 100%; /* Fit the width of the page */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto;
    display: block;
    page-break-before: always; /* Force new page for each image */
  }
}

@media print {
  li {
    page-break-inside: avoid;
    page-break-before: always;
  }
}
/* .upload-img{
margin: 25px auto ;
width: 500px !important;
height: 730px !important;
/* background-color: green; */
/* } */ 




.upload-img{
  margin-top: 13.5%;
  /* margin-top: 58%; */
  margin-bottom:0% ;
  margin-right: auto;
  margin-left: auto;
  width: 400px !important;
  height: 840px !important;
  /* background-color: green; */
  border: 5px solid rgb(255, 255, 255);
  /* margin-bottom: 20px; */
  /* margin-top: 80px; */
  }

  .upload-pdf{
height: 840px;
width: 700px;
display:flex;
justify-content: center;
align-items: center;
margin-top: 16%;
border: 5px solid rgb(255, 255, 255);
  }

  .li-files{
    background-color: #ffffff;
  }

 

